@charset "UTF-8";

:root {
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--branco-principal);
    background-color: var(--cor-de-fundo);
}

.principal {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/Background.png');
}

.container {
    height: 100vh;
}

.container__botao {
    padding: 1em;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
}